/* .btn-primary{
    position:absolute;
    left: 50%;
    width: 200px;
    height: 50px;
}

#btn-delivery-report{
    left: auto;
}

.form-check-label
{
     margin:1px;
     padding-right: 8px;

}

.btn{
    margin-top: -5%;
} */




.nnbtn-sm{
    width: 200px;
    height: 50px;
    margin-left: 80%;
    margin-top: -3%;
}


