/* .my-3{
    color: #0e0f0f;
    position:absolute;
    left: 50%;
    width: 200px;
    height: 50px;
    top:120px;
    margin-right: 100%;
    margin-bottom: 300%;
   
}



.btn-delivery-report{
    width: 200px;
    height: 100px;

}

.text-light{
    margin-left: 100%;
}

.search{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}

.btn-primary{
    width: 100px;
    height: 100px;
    margin-top: -6.5%;
    margin-left: 30%;
    

}

.btn-sm{
    width: 200px;
    height: 50px;
    margin-left: 80%;
    margin-top: -10%;
}
*/

#kkbtn1 {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 140px;
  right: 135px;
}

#knbtn-delivery-report {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 210px;
  right: 135px;
}
