.hs-main-foucser {
  z-index: 5;
  position: fixed;
  width: 80%;
  height: 80%;
}

.hs-main-sucees {
  background-color: #343a40;
  width: 40%;
  height: 125px;
  position: relative;
  left: 30%;
  top: 30%;
  text-align: center;
  border-radius: 20px;
}

.hs-main-sucees h2 {
  font-size: 2em;
  color: white;
}

.hs-yes-btn {
  padding: 5px 20px;
  border: none;
  color: white;
  background-color: #dc3545;
  margin-right: 10px;
}

.hs-close-btn {
  padding: 5px 20px;
  border: none;
  background-color: #28a745;
  color: white;
}
