/* .btn-primary{
    margin-bottom: 1500px;
    left: 50%;
    width: 200px;
    height: 50px;
    
}

.form-check{
    
     position:initial;
     right:30%

}

.multiselect{
     width:820px;
     height: 40px;
     position: right;
     margin-left: 137px;
     margin-bottom:30px;
}
*/

.knbtn-sm{
     width: 200px;
     height: 50px;
     margin-left: 80%;
     margin-top:5%;
 }
 
 .demokn{
     width: 200px;
     height: 50px;
     margin-left: 80%;
     margin-top:20%;

 }
