#xcontact-us-background-img34{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://www.teahub.io/photos/full/69-693574_1920x1080-yellow-wallpapers-yellow-background-hd.jpg);
    background-position: center;
    background-size: cover;
}